COOMEVA AGENTE - W FORM.json
{
  "name": "COOMEVA AGENTE",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        320
      ],
      "id": "4188d1cf-9b07-41b4-9bb9-6b72b865f45d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2AdmRmMnoYS0w6RI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"asunto\": \"Recomendaciones de comunicación\",\n\t\"texto\": \"descricion de las recomendaciones\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1648,
        320
      ],
      "id": "f453a4cd-971a-463b-8584-10c8d4727930",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "datos",
        "filters": {
          "conditions": [
            {
              "keyName": "idunico",
              "keyValue": "={{ $json[\"ID del cliente a consultar\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        96
      ],
      "id": "92964b15-e095-4faf-a74a-c08885184faf",
      "name": "OBTENER CLIENTE",
      "credentials": {
        "supabaseApi": {
          "id": "dCyebDIokebYXSuO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kuDPEHFRoqgHCOkbwjP5gnkZ4UOHnzcb20T3_OfbXwY",
          "mode": "list",
          "cachedResultName": "cluster_arquetipos_precisos_con_riesgo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kuDPEHFRoqgHCOkbwjP5gnkZ4UOHnzcb20T3_OfbXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2009600669,
          "mode": "list",
          "cachedResultName": "Arquetipos y Riesgo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kuDPEHFRoqgHCOkbwjP5gnkZ4UOHnzcb20T3_OfbXwY/edit#gid=2009600669"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Cluster",
              "lookupValue": "={{ $('OBTENER CLIENTE').item.json.cluster }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        112
      ],
      "id": "10a11ca6-2ab3-415d-b70c-b63f5638d0ec",
      "name": "OBTENER ARQUETIPO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PkLzBVNdbTGrQpCd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente especializado en análisis de perfiles de cliente para Coomeva. Tu función es proporcionar al equipo de ventas información clara y accionable sobre cómo comunicarse efectivamente con cada cliente según su arquetipo identificado.\n\n**INFORMACIÓN DEL CLIENTE:**\n\nArquetipo: {{ $json.Arquetipo }}\n\nDescripción del perfil: {{ $json['Descripción analítica detallada'] }}\n\n**INSTRUCCIONES:**\n\nGenera un mensaje estructurado con las siguientes secciones:\n\n1. ARQUETIPO IDENTIFICADO: Nombre del arquetipo del cliente\n2. CARACTERÍSTICAS DEL PERFIL: Resumen ejecutivo de las características principales\n3. RECOMENDACIONES DE COMUNICACIÓN con:\n   - Tono y estilo de comunicación apropiado\n   - Elementos clave a enfatizar\n   - Enfoques efectivos para este perfil\n   - Aspectos a considerar o manejar con cuidado\n\n**REQUISITOS:**\n- Formato de correo electrónico profesional\n- Sin emojis\n- Lenguaje claro y directo\n- Extensión: 200-300 palabras\n- El texto debe estar en formato HTML para correo electrónico\n\n**FORMATO DE SALIDA REQUERIDO:**\n\nDebes devolver la respuesta en el siguiente formato JSON:\n\n{\n\t\"asunto\": \"Texto del asunto del correo\",\n\t\"texto\": \"Contenido completo del mensaje en formato HTML\"\n}\n\nEl campo \"asunto\" debe contener un asunto breve y profesional que incluya el arquetipo identificado.\nEl campo \"texto\" debe contener todo el contenido del mensaje usando etiquetas HTML (<p>, <strong>, <br>, <ul>, <li>) para mantener el formato y la legibilidad en correos electrónicos.\n\nIMPORTANTE: Usa etiquetas HTML como <p> para párrafos, <strong> para negritas, <br> para saltos de línea, <ul> y <li> para listas.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1472,
        112
      ],
      "id": "570cba91-1ab8-4f06-ab2b-ab2f901e7312",
      "name": "PROCESAR RECOMENDACIONES"
    },
    {
      "parameters": {
        "sendTo": "={{ $('FORM DE CONSULTA').item.json[\"Correo electrónico del destinatario (Aquí recibirás la recomendación)\"] }}",
        "subject": "={{ $json.output.asunto }}",
        "message": "={{ $json.output.texto }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        112
      ],
      "id": "6859865b-29a1-4522-8a39-d3685305b2d7",
      "name": "ENVIO DE RECOMENDACIONES",
      "webhookId": "4bae519b-bd55-4227-a86f-d5821610e1ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "yvGhVMeg2hqazme5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Recomendaciones Personalizadas de Comunicación",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Correo electrónico del destinatario (Aquí recibirás la recomendación)",
              "fieldType": "email",
              "placeholder": "usuario@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "ID del cliente a consultar",
              "placeholder": "1234567",
              "requiredField": true
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Poppins', 'Segoe UI', 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t--font-weight-extra-bold: 700;\n\t\n\t/* Tamaños de fuente mejorados */\n\t--font-size-body: 14px;\n\t--font-size-label: 13px;\n\t--font-size-input: 15px;\n\t--font-size-header: 28px;\n\t--font-size-subheader: 16px;\n\t--font-size-paragraph: 14px;\n\t--font-size-error: 12px;\n\t\n\t/* ===== Colores Coomeva Expandidos ===== */\n\t--coomeva-green-main: #5EB319;\n\t--coomeva-green-light: #8CC63F;\n\t--coomeva-green-lighter: #a8d96e;\n\t--coomeva-green-dark: #2E7D32;\n\t--coomeva-green-darker: #1b5e20;\n\t\n\t/* ===== Backgrounds con degradados ===== */\n\t--color-background: linear-gradient(135deg, #f7faf5 0%, #e8f5e0 100%);\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #e3ede0;\n\t--color-card-shadow: rgba(46, 125, 50, 0.12);\n\t--color-card-shadow-hover: rgba(46, 125, 50, 0.18);\n\t\n\t/* Texto con mejor contraste */\n\t--color-header: var(--coomeva-green-darker);\n\t--color-subheader: var(--coomeva-green-dark);\n\t--color-label: #3a3a3a;\n\t--color-input-text: #2c2c2c;\n\t--color-placeholder: #9ca3af;\n\t--color-link: var(--coomeva-green-dark);\n\t\n\t/* Inputs mejorados */\n\t--color-input-bg: #fafafa;\n\t--color-input-border: #d5e5cd;\n\t--color-input-border-hover: #b8d9a5;\n\t--color-focus-border: var(--coomeva-green-main);\n\t--color-focus-shadow: rgba(94, 179, 25, 0.15);\n\t\n\t/* Colores del botón */\n\t--color-submit-btn-text: #ffffff;\n\t--color-submit-btn-shadow: rgba(94, 179, 25, 0.3);\n\t\n\t/* Estados */\n\t--color-error: #ea1f30;\n\t--color-error-bg: #fff5f5;\n\t--color-success: #22c55e;\n\t--color-success-bg: #f0fdf4;\n\t--color-required: var(--coomeva-green-main);\n\t\n\t/* Bordes y sombras mejorados */\n\t--border-radius-card: 16px;\n\t--border-radius-input: 10px;\n\t--border-radius-btn: 12px;\n\t--container-width: 520px;\n\t--submit-btn-height: 52px;\n\t--box-shadow-card: 0px 8px 24px var(--color-card-shadow);\n\t--box-shadow-card-hover: 0px 12px 32px var(--color-card-shadow-hover);\n\t--box-shadow-input-focus: 0 0 0 3px var(--color-focus-shadow);\n\t\n\t/* Espaciado */\n\t--spacing-xs: 8px;\n\t--spacing-sm: 12px;\n\t--spacing-md: 20px;\n\t--spacing-lg: 28px;\n\t--spacing-xl: 36px;\n\t\n\t/* Transiciones */\n\t--transition-base: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n\t--transition-fast: all 0.2s ease;\n}\n\n/* === Estilos del contenedor principal === */\nbody {\n\tbackground: var(--color-background);\n\tfont-family: var(--font-family);\n\tmin-height: 100vh;\n\tdisplay: flex;\n\talign-items: center;\n\tjustify-content: center;\n\tpadding: var(--spacing-md);\n}\n\n/* === Card principal === */\n.form-container {\n\tbackground: var(--color-card-bg);\n\tborder-radius: var(--border-radius-card);\n\tbox-shadow: var(--box-shadow-card);\n\tmax-width: var(--container-width);\n\twidth: 100%;\n\tpadding: var(--spacing-xl);\n\tborder: 1px solid var(--color-card-border);\n\ttransition: var(--transition-base);\n\tposition: relative;\n\toverflow: hidden;\n}\n\n.form-container::before {\n\tcontent: '';\n\tposition: absolute;\n\ttop: 0;\n\tleft: 0;\n\tright: 0;\n\theight: 4px;\n\tbackground: linear-gradient(90deg, var(--coomeva-green-main), var(--coomeva-green-light), var(--coomeva-green-main));\n\tbackground-size: 200% 100%;\n\tanimation: gradientShift 3s ease infinite;\n}\n\n@keyframes gradientShift {\n\t0%, 100% { background-position: 0% 0%; }\n\t50% { background-position: 100% 0%; }\n}\n\n.form-container:hover {\n\tbox-shadow: var(--box-shadow-card-hover);\n\ttransform: translateY(-2px);\n}\n\n/* === Header === */\n.form-header {\n\ttext-align: center;\n\tmargin-bottom: var(--spacing-xl);\n\tpadding-bottom: var(--spacing-lg);\n\tborder-bottom: 2px solid var(--color-card-border);\n}\n\n.form-header h1 {\n\tfont-size: var(--font-size-header);\n\tfont-weight: var(--font-weight-extra-bold);\n\tcolor: var(--color-header);\n\tmargin-bottom: var(--spacing-sm);\n\tletter-spacing: -0.5px;\n}\n\n.form-header p {\n\tfont-size: var(--font-size-subheader);\n\tcolor: var(--color-subheader);\n\tfont-weight: var(--font-weight-medium);\n\tmargin: 0;\n}\n\n/* === Labels === */\nlabel {\n\tdisplay: block;\n\tfont-size: var(--font-size-label);\n\tfont-weight: var(--font-weight-medium);\n\tcolor: var(--color-label);\n\tmargin-bottom: var(--spacing-xs);\n\ttext-transform: uppercase;\n\tletter-spacing: 0.5px;\n}\n\nlabel .required {\n\tcolor: var(--color-required);\n\tmargin-left: 3px;\n\tfont-size: 16px;\n}\n\n/* === Inputs === */\ninput[type=\"text\"],\ninput[type=\"email\"],\ninput[type=\"tel\"],\ninput[type=\"number\"],\nselect,\ntextarea {\n\twidth: 100%;\n\tpadding: 14px 16px;\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground: var(--color-input-bg);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\ttransition: var(--transition-base);\n\tbox-sizing: border-box;\n}\n\ninput::placeholder,\ntextarea::placeholder {\n\tcolor: var(--color-placeholder);\n}\n\ninput:hover,\nselect:hover,\ntextarea:hover {\n\tborder-color: var(--color-input-border-hover);\n\tbackground: #ffffff;\n}\n\ninput:focus,\nselect:focus,\ntextarea:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbackground: #ffffff;\n\tbox-shadow: var(--box-shadow-input-focus);\n\ttransform: translateY(-1px);\n}\n\n/* === Grupos de formulario === */\n.form-group {\n\tmargin-bottom: var(--spacing-lg);\n}\n\n/* === Mensajes de error === */\n.error-message {\n\tdisplay: flex;\n\talign-items: center;\n\tgap: var(--spacing-xs);\n\tcolor: var(--color-error);\n\tfont-size: var(--font-size-error);\n\tmargin-top: var(--spacing-xs);\n\tpadding: var(--spacing-xs) var(--spacing-sm);\n\tbackground: var(--color-error-bg);\n\tborder-radius: 6px;\n\tfont-weight: var(--font-weight-medium);\n}\n\n.error-message::before {\n\tcontent: '⚠';\n\tfont-size: 14px;\n}\n\n/* === Botón enviar (CORREGIDO) === */\n.submit-btn {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground: #2E7D32;\n\tcolor: var(--color-submit-btn-text);\n\tfont-size: 16px;\n\tfont-weight: var(--font-weight-bold);\n\tfont-family: var(--font-family);\n\tborder: none;\n\tborder-radius: var(--border-radius-btn);\n\tcursor: pointer;\n\ttransition: var(--transition-base);\n\ttext-transform: uppercase;\n\tletter-spacing: 1px;\n\tbox-shadow: 0 4px 12px rgba(46, 125, 50, 0.3);\n\tmargin-top: var(--spacing-md);\n}\n\n.submit-btn:hover {\n\tbackground: #1b5e20;\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 6px 20px rgba(46, 125, 50, 0.4);\n}\n\n.submit-btn:active {\n\ttransform: translateY(0);\n\tbox-shadow: 0 2px 8px var(--color-submit-btn-shadow);\n}\n\n.submit-btn:disabled {\n\topacity: 0.6;\n\tcursor: not-allowed;\n\ttransform: none;\n}\n\n/* === Responsive === */\n@media (max-width: 600px) {\n\t:root {\n\t\t--font-size-header: 24px;\n\t\t--container-width: 100%;\n\t\t--spacing-xl: 24px;\n\t}\n\t\n\t.form-container {\n\t\tpadding: var(--spacing-lg);\n\t}\n}\n\n/* === Animación de carga === */\n@keyframes pulse {\n\t0%, 100% { opacity: 1; }\n\t50% { opacity: 0.5; }\n}\n\n.loading {\n\tanimation: pulse 2s ease-in-out infinite;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -128,
        96
      ],
      "id": "b5e0efc7-1233-4367-a284-cab1267059ad",
      "name": "FORM DE CONSULTA",
      "webhookId": "2bdb785d-a0e4-4a45-a2e7-2a1c275b74ad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b1b1562-ef32-42f9-a6fa-14265f3c6a1d",
              "leftValue": "={{Object.keys($json).length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        96
      ],
      "id": "d9fddf35-172e-4d96-98f5-89db9f971f2b",
      "name": "EXISTE ALGUN ERROR?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": true,\n  \"message\": \"Operación completada correctamente.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        272
      ],
      "id": "533b76a0-445d-49e4-8c88-c98bf4dfff18",
      "name": "AÑADIR CAMPO DE OPERACIÓN EXITOSA"
    },
    {
      "parameters": {
        "content": "# Trigger o disparador:\nEs un agente que se activa a través de un formulario de n8n, el cual permite obtener información de manera sencilla para cualquier usuario autorizado.",
        "height": 368,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -112
      ],
      "typeVersion": 1,
      "id": "2f2d45da-3277-421c-9cc7-4f8a2e5ebcb3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"message\": \"Ocurrió un error, inténtalo de nuevo.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -176
      ],
      "id": "2ead5786-03e1-47ac-bea8-0e539dc57b40",
      "name": "PROPAGACIÓN DEL ERROR"
    },
    {
      "parameters": {
        "sendTo": "={{ $('FORM DE CONSULTA').item.json['Correo electronico (Aquí se enviara la respuesta)'] }}",
        "subject": "ERROR",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        -176
      ],
      "id": "8854d80c-53db-442f-8625-b38e5f3051dd",
      "name": "NOTIFICACIÓN DE ERROR",
      "webhookId": "1b727daf-16b9-4b33-b490-8ecad0e9c579",
      "credentials": {
        "gmailOAuth2": {
          "id": "yvGhVMeg2hqazme5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Caso de uso:\nEn este caso de uso se implementa un flujo con manejo de errores que permite obtener la información del cliente que será contactado, con el fin de brindar un mejor contexto sobre cómo acercarse a él. El sistema envía un prompt con los datos necesarios para generar una recomendación personalizada, la cual es posteriormente remitida al correo electrónico ingresado por el usuario en el formulario inicial.",
        "height": 784,
        "width": 1872
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -320
      ],
      "typeVersion": 1,
      "id": "5056a1a7-92bd-47e1-9523-78738aae265a",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PROCESAR RECOMENDACIONES",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "PROCESAR RECOMENDACIONES",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OBTENER CLIENTE": {
      "main": [
        [
          {
            "node": "EXISTE ALGUN ERROR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OBTENER ARQUETIPO": {
      "main": [
        [
          {
            "node": "PROCESAR RECOMENDACIONES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESAR RECOMENDACIONES": {
      "main": [
        [
          {
            "node": "ENVIO DE RECOMENDACIONES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORM DE CONSULTA": {
      "main": [
        [
          {
            "node": "OBTENER CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE ALGUN ERROR?": {
      "main": [
        [
          {
            "node": "PROPAGACIÓN DEL ERROR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AÑADIR CAMPO DE OPERACIÓN EXITOSA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AÑADIR CAMPO DE OPERACIÓN EXITOSA": {
      "main": [
        [
          {
            "node": "OBTENER ARQUETIPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROPAGACIÓN DEL ERROR": {
      "main": [
        [
          {
            "node": "NOTIFICACIÓN DE ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "908c648e-a263-4736-b81f-a6f6bf4b6fb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de9b593687b5d811a7c7031043bbc0ee600753151c0b2ce62e6b53939aed96d8"
  },
  "id": "dPm6TXv3s6daZBtL",
  "tags": []
}